
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<a asp-action="ShowStudentDetails" asp-controller="Admin" class="btn btn-primary">
    Stduent List
</a>


<a asp-action="ShowTeacherDetails" asp-controller="Admin" class="btn btn-primary">
    Teacher List
</a>
<a asp-controller="Admin" asp-action="Logout">Logout</a>



