﻿@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<h2>@ViewBag.MySession</h2>

<a asp-action="Profile" asp-controller="Home" class="btn btn-primary">Go to Profile</a>
<a asp-action="CourseRegistration" asp-controller="Home" class="btn btn-primary">
    Click here to Registered a Courses
</a>
<a asp-action="ShowRegisteredCourses" asp-controller="Home" class="btn btn-primary">Registered Courses</a>
<a asp-action="ShowOfferedCourses" asp-controller="Home" class="btn btn-primary">Offered Courses</a>

<a asp-controller="Home" asp-action="Logout">Logout</a>



