@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <!-- Add Bootstrap CSS link here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <style>
        /* Add your custom styles here */
        body {
            padding: 20px;
        }

        h1 {
            color: #007bff;
        }

        .dashboard-btn {
            margin-right: 10px;
        }

        #openChatboxBtn {
            position: fixed;
            bottom: 60px; /* Adjusted position */
            right: 20px;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 50%;
            cursor: pointer;
            z-index: 999; /* Ensure the button is on top */
            margin-bottom: 20px; /* Add margin to create space between the button and the chatbox */
        }


            #openChatboxBtn:hover {
                background-color: #0056b3;
            }

        #chatbox {
            width: 35%;
            margin-right: 10%;
            margin-top: 10px;
            position: fixed;
            bottom: 20px;
            right: 20px;
            /*width: 300px;*/
            height: 550px; /* Increased height to accommodate iframe content */
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            z-index: 998;
        }

    </style>
</head>
<body>
    <h2>@ViewBag.MySession</h2>
    <h1>Dashboard</h1>

    <a asp-action="Profile" asp-controller="Student" class="btn btn-primary dashboard-btn">
        Profile
    </a>
    <a asp-action="Index" asp-controller="Student" class="btn btn-primary dashboard-btn">
        Result Report
    </a>
    <a asp-action="ShowRegisteredCourses" asp-controller="Student" class="btn btn-primary dashboard-btn">
        Registered Courses
    </a>

    <a asp-action="Index" asp-controller="ResultSubmission" class="btn btn-primary dashboard-btn">
        Offered Courses
    </a>

    <a asp-action="Attendance" asp-controller="Student" class="btn btn-primary dashboard-btn">
        Attendance
    </a>

    <a asp-controller="Student" asp-action="Logout" class="btn btn-danger">
        Logout
    </a>



    <button id="openChatboxBtn">
        <i class="fas fa-comment" style="font-size: 50px;"></i>
    </button>

    <div id="chatbox" class="iframe-container chatbox">
        <iframe src="http://127.0.0.1:5000/" frameborder="0" style="width: 100%; height: 100%; "></iframe>
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <script>
        $(document).ready(function () {
            $("#openChatboxBtn").click(function () {
                // Toggle the visibility of the iframe
                $("#chatbox").toggle();
            });
        });
    </script>


</body>
</html>